extends layout

block content
  div.h-screen.flex
    div(class="w-2/6")
      div.mx-10.mt-20
        include ../includes/header.pug
        div.mt-96.px.space-y-16(class="2xl:px-36")
          -
            const items = [
              {
                title: 'Favorite stupidity',
                altTitle: 'Любимая глупость',
                content: {
                  title: 'Retromada',
                  url: 'https://github.com/retromada/retromada'
                }
              },
              {
                title: 'My unsuccessful team',
                altTitle: 'Моя неудачная команда',
                content: {
                  title: 'Tentaclesoft',
                  url: 'https://tentaclesoft.com'
                }
              }
            ]
          each item in items
            div.pb-2.space-y-3.border-b.uppercase
              div.space-y-0
                span #{item.title}<br />
                span.tracking-wider(class="text-[0.7rem] text-zinc-400/75")= item.altTitle
              div.flex.justify-between.font-medium
                span= item.content.title
                a.text-red-600.select(class="hover:text-red-500" href=item.content.url) Link
        include ../includes/footer.pug
    div
      div.min-h-screen.fixed(class="w-4/6")
        div.h-screen.flex.justify-center.items-center
          span.text-5xl.font-black.opacity-5.uppercase Disclose Here!
